@use '../media-queries' as *;

.who {
  .now {
    margin-top: 7.5rem;
  }
  .now .container {
    min-height: 35rem;
    text-align: center;
    display: grid;
    place-items: center;
    gap: 2rem;
    margin-bottom: 10rem;

    .btn {
      margin: 0 auto;
    }
  }
  .parcours {
    .steps {
      position: relative;
      display: grid;
      gap: 7.5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0.5rem;
        max-height: 100%;
        background: var(--text);
        z-index: -1;
        border-radius: 1rem;
      }
    }
    .step {
      display: flex;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 4rem;
      position: relative;
      background-position: center center;
      color: var(--text-light);
      border-radius: 1rem;
      overflow: hidden;
      border: 0rem solid var(--text);
      transition: transform 0.2s ease-in-out, border 0.5s ease;

      &:hover {
        &:after {
          outline: 0.1rem solid #f1f1f180;
          outline-offset: -1.5rem;
        }

        .step__date {
          opacity: 0;

          @include mq(medium) {
            opacity: 0.5;
          }
        }
        .step__detail {
          max-height: fit-content;
          transform: translateX(0);
          padding: 2rem;
          margin-top: 2rem;
          opacity: 1;
        }
      }

      &__detail {
        max-height: 0;
        opacity: 0;
        transform: translateX(-100%);
        overflow: hidden;
        color: var(--text);
        background: rgba(255, 255, 255, 0.35);
        border-radius: 0.5rem;
        transition: transform 0.3s ease-in-out, opacity 0.7s ease,
        padding 0.15s ease;
      }

      &__desc {
        z-index: 1;

        h3 {
          text-transform: uppercase;
          font-size: 2.5rem;
          margin-bottom: 0;
        }
      }

      &__date {
        position: absolute;
        bottom: 3rem;
        right: 4rem;
        font-size: 12rem;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.2;
        transition: opacity 0.2s ease;

        @include mq(medium) {
          position: relative;
          font-size: 2rem;
          opacity: 0.5;
          left: unset;
          top: unset;
          right: unset;
          bottom: unset;
        }
      }

      &__location {
        font-style: italic;
        opacity: 0.8;
        font-size: 1.8rem;
      }

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(164, 79, 233, 0.75);
        z-index: 0;
        border-radius: 1rem;
        outline: 0 solid #f1f1f180;
        transition: outline 0.2s, outline-offset 0.2s;
      }

      &:nth-of-type(1) {
        background-image: url("../img/lycee.jpg");
      }
      &:nth-of-type(2) {
        background-image: url("../img/universite.jpg");
        &:after {
          background: rgba(0, 155, 158, 0.9);
        }
      }
      &:nth-of-type(3) {
        background-image: url("../img/eph.jpg");
        &:after {
          background: rgba(235, 154, 7, 0.9);
        }
      }
      &:nth-of-type(4) {
        background-image: url("../img/universite-2.jpg");
        &:after {
          background: rgba(0, 201, 130, 0.85);
        }
      }
      &:nth-of-type(5) {
        background-image: url("../img/hand.webp");
      }
      &:nth-of-type(6) {
        background-image: url("../img/iut.jpg");
        &:after {
          background: rgba(0, 155, 158, 0.9);
        }
      }
      &:nth-of-type(7) {
        background-image: url("../img/infab.jpg");
        &:after {
          background: rgba(235, 154, 7, 0.9);
        }
      }
      &:nth-of-type(8) {
        background-image: url("../img/hb.jpg");
        &:after {
          background: rgba(0, 201, 130, 0.85);
        }
      }
    }
    .step:nth-of-type(2n) {
      text-align: right;
      display: flex;
      flex-direction: row-reverse;

      .step__date {
        right: unset;
        left: 4rem;
        @include mq(medium) {
          position: relative;
          font-size: 2rem;
          opacity: 0.5;
          left: unset;
          top: unset;
          right: unset;
          bottom: unset;
        }
      }
    }
  }
}