:root {
  --primary : rgb(0, 155, 158);
  --secondary : rgb(235, 154, 7);
  --purple: rgb(164, 79, 233);
  --text: #2a133d;
  --green: rgb(0, 201, 130);
  --gradient-primary : linear-gradient(to bottom, #009B9E, #00C982);
  --text-light: #f1f1f1;
  //Add any variable you need here
}