@use 'index' as *;

* {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: var(--text) #f1f1f1; /* scroll thumb and track */
}

html {
  min-height: 100vh;
}

::-moz-selection {
  color: var(--text);
  background: var(--secondary);
}

::selection {
  color: var(--text);
  background: var(--secondary);
}

body::-webkit-scrollbar {
  width: 0.8rem;
}

body::-webkit-scrollbar-track {
  background: var(--text-light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 2rem;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
  background: #f1f1f1;
  transition: background-image 2s ease;
  color: var(--text);

  &:before,
  &:after {
    content: "";
    position: fixed;
    width: 50rem;
    height: 50rem;
    opacity: 0.08;
    border-radius: 50%;
  }

  &:before {
    background: var(--purple);
    transform: translate(-30%, 40%);
  }

  &:after {
    background: var(--primary);
    transform: translate(50%, -30%);
    top: 0;
    right: 0;
    z-index: -1;
    width: 40rem;
    height: 40rem;
  }
}

/**
**|| ---------- LOADING ANIMATIONS ----------- ||
*/
.onload-intro {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 0.3s ease-in-out forwards;
  animation-delay: 3000ms;
  transition: opacity 0.1s ease-in-out;

  h2 {
    color: var(--text);
    text-transform: uppercase;
    font-size: 7rem;
    position: relative;
    font-weight: 300;

    @include mq(medium) {
      font-size: 4.5rem;
    }

    span {
      transform: translateY(-100vh);
      display: inline-block;
      position: relative;

      &:after {
        content: "";
        display: block;
        width: 50%;
        height: 50%;
        background: black;
        opacity: 0.3;
        filter: blur(40px);
        position: absolute;
        bottom: -50%;
        left: 50%;
        z-index: -1;
        transform: translateX(-50%);
        box-shadow: 0 5px 80px 0px rgba($color: #000000, $alpha: 1);
      }
    }

    span + span {
      margin-left: 2rem;
    }

    span:nth-child(1) {
      animation: onload-title 1.2s ease-in-out forwards;
      font-weight: 400;
      font-size: 6rem;

      @include mq(medium) {
        font-size: 3.5rem;
      }

      &:after {
        animation: onload-shadow 500ms ease-in-out forwards;
      }
    }
    span:nth-child(2) {
      animation: onload-title 1.2s ease-in-out forwards;
      animation-delay: 300ms;
      font-size: 5rem;
      @include mq(medium) {
        font-size: 2.5rem;
      }

      &:after {
        animation: onload-shadow 500ms ease-in-out forwards;
        animation-delay: 300ms;
      }
    }
    span:nth-child(3) {
      animation: onload-title 1.2s ease-in-out forwards;
      animation-delay: 600ms;
      font-size: 5rem;
      @include mq(medium) {
        font-size: 2.5rem;
      }

      &:after {
        animation: onload-shadow 500ms ease-in-out forwards;
        animation-delay: 600ms;
      }
    }
    span:nth-child(4) {
      animation: onload-title 1.2s ease-in-out forwards;
      animation-delay: 900ms;
      font-weight: 700;
      // color: var(--purple);
      &:after {
        animation: onload-shadow 500ms ease-in-out forwards;
        animation-delay: 900ms;
      }
    }
  }
}

/**
**|| --------- NAVIGATION --------- ||
*/
nav {
  position: absolute;
  width: 100%;
  z-index: 10;
  left: 0;
  height: 12rem;
  display: flex;
  animation: showUp 1s forwards;
  animation-delay: 150ms;
  transform: translateX(-200vh);
  color: #f1f1f1;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  a {
    color: var(--text);
  }
  h1 {
    margin-bottom: 0;
    font-weight: 300;
    font-size: 3rem;
    position: relative;
    display: flex;
    align-items: center;

    @include mq(small) {
      font-size: 2rem;
    }

    img {
      width: 5rem;
      margin-right: 1.5rem;
      opacity: 0.8;
    }

    span {
      font-weight: 500;
      text-transform: uppercase;
      color: var(--purple);
      margin-left: 0.8rem;
    }
  }

  ul {
    display: flex;
    text-transform: uppercase;
    transition: max-height 0.25s ease-in-out;

    @include mq(large) {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 12rem;
      background: #f1f1f1e1;
      width: 100vw;
      left: 0;
      max-height: 0;
      overflow: hidden;
    }

    li + li {
      margin-left: 5rem;

      @include mq(large) {
        margin: 0;
      }
    }

    li {
      overflow: hidden;
      padding: 15px 0;
    }

    a {
      position: relative;
      padding: 5px 0;

      &:after {
        content: "";
        position: absolute;
        display: block;
        top: 100%;
        width: 100%;
        height: 1px;
        background: var(--text);
        transition: width 0.3s, opacity 0.4s, transform 0.3s;
        // opacity: 0;
        transform: translateX(-105%);
        animation: linkToRight 0.6s forwards;
      }

      &:hover:after {
        opacity: 1;
        animation: linkToLeft 0.5s forwards;
      }
    }
  }

  button {
    border: 0;
    cursor: pointer;
    background: transparent;
  }

  .material-icons {
    display: none;
    color: var(--text);

    @include mq(large) {
      display: block;
    }
  }
}

/**
**|| -------- Contact ----------- ||
*/

.contact {
  position: fixed;
  right: 0;
  top: 50%;
  bottom: 12rem;
  height: fit-content;
  background: var(--text);
  border-right: 0.1rem solid #ccc;
  z-index: 200;
  transform: translate(100%, -50%);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0.1rem 0 0.3rem rgba(#f1f1f1, 0.5);
  color: var(--text-light);
  border-radius: 0.5rem 0 0 0.5rem;

  .content {
    padding: 2rem;

    img:not(.icon) {
      max-width: 10rem;
      border-radius: 50%;
      margin: 0 auto;
      margin-bottom: 2rem;
      // border: 0.2rem solid var(--secondary);
      box-shadow: 0 0 0 0.25rem var(--secondary);
    }

    h2 {
      font-size: 2rem;
      font-weight: 400;
    }
    ul {
      position: relative;
      margin-top: 2rem;
      text-align: center;
      padding-top: 2rem;

      &:before {
        position: absolute;
        top: 0%;
        left: 0;
        content: "";
        height: 0.1rem;
        width: 100%;
        background: var(--text-light);
        opacity: 0.25;
      }

      & li a:not(#mail) {
        text-transform: capitalize;
        display: flex;
        justify-content: center;

        img {
          max-width: 2rem;
          margin-right: 0.5rem;
        }
      }
    }
    li + li {
      margin-top: 2rem;
    }

    button {
      position: absolute;
      right: 2rem;
      top: 2rem;
      border: 0;
      cursor: pointer;
      background: transparent;
      color: var(--text-light);
    }

    a {
      color: var(--text-light);
      text-align: center;
    }
  }
}

/**
**|| -------- SECTIONS ----------- ||
*/
main {
  perspective: 200vw;
  min-width: 100vw;
  min-height: 100vh;
  animation: showUp 1s ease forwards;
  transform: translateX(-200vh);

  .cube {
    position: relative;
    min-width: 100vw;
    min-height: 100vh;
    transform-style: preserve-3d;
    backface-visibility: visible;
    opacity: 1;
    transition: transform 0.3s ease-in-out;
  }

  .cube > section {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    transition: transform 0.8s ease-in-out, opacity 200ms ease-in-out;
    transform-style: preserve-3d;
    transform-origin: center center;

    @include mq(small) {
      transform-origin: center top;
    }

    & > .container {
      // margin-top: 90px;
      padding: 2rem;

      p {
        line-height: 3rem;
      }
    }
  }

  section > .container > h2 {
    position: relative;
    font-size: 3.5rem;
    margin: 4rem 0;
    font-weight: 400;
    text-align: center;
    padding: 2.5rem 0;
    font-style: italic;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: 300;

    @include mq(small) {
      font-size: 2.5rem;
    }

    &:before {
      content: "";
      position: absolute;
      width: 15rem;
      height: 100%;
      left: 50%;
      border: 1px solid var(--text);
      border-left: none;
      border-right: none;
      transform: translateX(-50%);
      opacity: 0.5;
    }

    &:before {
      top: 0;
    }
  }

  .right {
    transform: rotateY(90deg) translateX(100vw) scale(0);
  }

  .front {
    transform: rotateY(0) translateX(0) scale(1);
  }

  .back {
    transform: rotateY(180deg) translateX(0) scale(0);
  }
}

/**
**|| -------- SECTION HOME INTRO WHO BANNER -------- ||
*/

.home__intro,
.presentation,
.now {
  margin-top: 12rem;
  position: relative;
  overflow: hidden;

  &-bg-face {
    position: absolute;
    width: 50rem;
    top: 10%;
    left: 10%;
    opacity: 0.09;
    pointer-events: none;
  }

  .container {
    min-height: 50rem;
    display: flex;
    align-items: center;
    background: var(--text);
    padding: 0 5rem;
    border-radius: 1rem;

    @include mq(large) {
      padding: 0rem 5rem;
    }

    @include mq(medium) {
      flex-direction: column;
      min-height: 0;
      padding: 4rem;
      gap: 1.5rem;
    }

    @include mq(small) {
      padding: 3rem;
    }
  }

  &-description {
    color: var(--text-light);
    padding: 0 5rem 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 2rem;
    @include mq(medium) {
      text-align: center;
      align-items: center;
      padding: 0;
    }

    h2 {
      font-size: 5rem;
      font-weight: 300;
      margin-bottom: 0;

      @include mq(large) {
        font-size: 4rem;
      }

      @include mq(small) {
        font-size: 3rem;
      }
    }

    p {
      margin-top: 0;
      font-size: 2rem;
      line-height: 3.5rem;
      font-weight: 300;

      @include mq(large) {
        font-size: 1.8rem;
        line-height: 3rem;
      }

      @include mq(small) {
        font-size: 1.6rem;
      }
    }

    .btn {
      color: var(--text-light);
      padding: 2rem 3rem;
      background: var(--purple);
      border-radius: 0.3rem;
      transition: padding 0.3s ease-in-out;
      position: relative;
      cursor: pointer;
      max-width: fit-content;
      &:after {
        position: absolute;
        content: ">";
        transform: translate(-100%, -50%);
        opacity: 0;
        font-size: 2rem;
        right: 2rem;
        top: 50%;
      }

      &:hover {
        padding: 2rem 4rem 2rem 2rem;

        &:after {
          margin-left: 2rem;
          animation: fadeUpRight 0.2s forwards;
        }
      }
    }
  }

  &-illustration {
    position: relative;
    min-height: 50rem;

    @include mq(large) {
      min-height: 15rem;
    }
    @include mq(tablet) {
      min-height: 12.5rem;
    }

    .circle {
      position: absolute;
      width: var(--size, 12.5rem);
      height: var(--size, 12.5rem);
      border-radius: 50%;
      box-shadow: 0 0 0.5rem rgba(#000000, 0.1);
      transform: translate(var(--x, 0), var(--y, 0));
      transition: transform 0.3s ease-in-out;
      animation: circlesIntro 1.5s forwards;
      opacity: 0;

      @include mq(large) {
        --size: 8rem;
      }

      @include mq(tablet) {
        --size: 6rem;
      }

      @include mq(small) {
        --size: 4rem;
      }

      &--blue {
        --size: 10rem;
        --x: 0;
        --y: -50%;
        background: var(--primary);
        top: 50%;
        @include mq(xl) {
          --size: 8rem;
        }
        @include mq(medium) {
          --size: 8rem;
          --x: 100%;
          --y: -65%;
        }
        @include mq(tablet) {
          --size: 6rem;
          --x: 120%;
        }
        @include mq(small) {
          --size: 5rem;
          --x: 130%;
          --y: -70%;
        }
      }

      &--purple {
        --x: 0;
        --y: 0;
        background: var(--purple);
        top: 25%;
        left: 25%;
        animation-delay: 200ms;

        @include mq(xl) {
          --size: 10rem;
        }
        @include mq(large) {
          --y: -50%;
        }

        @include mq(medium) {
          --size: 10rem;
          --x: -20%;
          --y: -20%;
        }
        @include mq(tablet) {
          --size: 8rem;
        }
        @include mq(small) {
          --size: 5.5rem;
          --x: 15%;
          --y: -20%;
        }
      }

      &--yellow {
        --x: 0;
        --y: 0;
        background: var(--secondary);
        top: 50%;
        left: 43%;
        animation-delay: 400ms;

        @include mq(xl) {
          --size: 9rem;
          --y: 10%;
          --x: -20%;
        }
        @include mq(medium) {
          --x: -100%;
          --y: -20%;
          --size: 9rem;
        }
        @include mq(tablet) {
          --size: 7rem;
        }
        @include mq(small) {
          --size: 4rem;
          --x: -90%;
          --y: -20%;
        }
      }

      &--green {
        --size: 11rem;
        --y: -50%;
        background: var(--green);
        right: 0;
        top: 50%;
        animation-delay: 600ms;
        @include mq(xl) {
          --size: 9rem;
        }
        @include mq(large) {
          --size: 9rem;
        }

        @include mq(medium) {
          --x: -65%;
          --size: 11rem;
          --y: -60%;
        }

        @include mq(tablet) {
          --size: 8.5rem;
          --y: -50%;
        }
        @include mq(small) {
          --size: 6.5rem;
          --y: -50%;
        }
      }
    }
  }
}

/**
**|| -------- SECTION SKILLS -------- ||
*/
.home__skills {
  .skills {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
  }

  .skill {
    padding: 2rem;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 0.2rem rgba(#2a133d, 0.3);
    transition: background 400ms ease-in-out;
    background: var(--purple);
    min-height: 16rem;
    flex: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    @include mq(tablet) {
      flex: 40%;
    }
    @include mq(small) {
      flex: 100%;
    }

    h3,
    p {
      opacity: 0;
      transition: opacity 0.3s ease-in-out;
    }

    &:before {
      position: absolute;
      content: url("../img/sass.png");
      filter: grayscale(1) brightness(100);
      padding: 1rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scale(var(--skill-scale, 0.8));
      transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out,
        opacity 0.3s ease-in-out;
    }

    &:nth-of-type(2),
    &:nth-of-type(8) {
      background: var(--primary);
    }
    &:nth-of-type(3) {
      background: var(--secondary);

      &:hover:before {
        transform: translate(-50%, -50%) scale(0.4);
      }
    }
    &:nth-of-type(4),
    &:nth-of-type(6) {
      background: var(--green);
    }
    &:nth-of-type(5) {
      background: var(--secondary);
    }

    &:nth-of-type(2):before {
      content: url("../img/512px-Typescript_logo_2020 (1).png");
      --skill-scale: 0.45;
    }
    &:nth-of-type(3):before {
      content: url("../img/mysql.png");
      --skill-scale: 0.18;
    }
    &:nth-of-type(4):before {
      content: url("../img/logo-webpack.png");
      --skill-scale: 0.7;
    }
    &:nth-of-type(5):before {
      content: url("../img/php.png");
      --skill-scale: 0.7;
    }
    &:nth-of-type(6):before {
      content: url("../img/logo-figma.png");
      --skill-scale: 0.3;
    }
    &:nth-of-type(7):before {
      content: url("../img/bootstrap.png");
      --skill-scale: 0.5;
    }
    &:nth-of-type(8):before {
      content: url("../img/Git-Icon.png");
      --skill-scale: 0.5;
    }

    &:hover {
      background: #fff;

      h3,
      p {
        opacity: 1;
      }

      &:before {
        transform: translate(-50%, -50%) scale(2);
        filter: grayscale(1);
        opacity: 0.06;
      }
    }

    p {
      padding: 1rem 0;
      font-weight: 300;
      line-height: 2.5rem;
    }

    h3 {
      font-size: 2rem;
      margin-bottom: 0;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

/**
**|| ---------- SKILLS IN PROGRESS --------- ||
*/
.skill-progress {
  display: grid;
  grid:
    "inprogress next next" auto
    / 5fr 4fr 4fr;
  grid-gap: 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 20rem;

  @include mq(medium) {
    grid:
      "inprogress" auto
      "next" auto
      / auto;
  }
  .in-progress {
    grid-area: inprogress;
  }
  .skill-progress-futur {
    grid-area: next;
  }

  &__in-progress:nth-of-type(1) {
    outline-color: var(--purple);
    border-color: var(--purple);
    background: rgba(#a44fe9, 0.25);
    ::selection {
      background: var(--purple);
      color: #f1f1f1;
    }
    .progress:after {
      width: 40%;
      background: var(--purple);
    }
    &:after {
      content: url(../img/docker.png);
    }
  }
  &__in-progress:nth-of-type(2) {
    outline-color: var(--green);
    border-color: var(--green);
    background: rgba(#00c982, 0.25);
    ::selection {
      background: var(--green);
    }
    .progress:after {
      width: 60%;
      background: var(--green);
    }
    &:after {
      content: url(../img/angular.png);
    }
  }
  &__in-progress:nth-of-type(3) {
    outline-color: var(--secondary);
    border-color: var(--secondary);
    background: rgba(#eb9a07, 0.25);
    .progress:after {
      width: 15%;
      background: var(--secondary);
    }
    &:after {
      content: url(../img/symfony-logo.png);
    }
  }
  &__next#node {
    outline-color: var(--primary);
    border-color: var(--primary);
    background: rgba(#009b9e, 0.25);
    ::selection {
      background: var(--primary);
      color: #f1f1f1;
    }
    &:after {
      content: url(../img/node.png);
    }
  }
  &__next#flutter {
    outline-color: var(--secondary);
    border-color: var(--secondary);
    background: rgba(#eb9a07, 0.25);
    &:after {
      content: url(../img/flutter_logo.png);
    }
  }
  &__next#svelte {
    outline-color: var(--purple);
    border-color: var(--purple);
    background: rgba(#a44fe9, 0.25);
    ::selection {
      background: var(--purple);
      color: #f1f1f1;
    }
    &:after {
      content: url(../img/svelte.png);
    }
  }
  &__next#react {
    outline-color: var(--primary);
    border-color: var(--primary);
    background: rgba(#009b9e, 0.25);
    ::selection {
      background: var(--primary);
      color: #f1f1f1;
    }
    &:after {
      content: url(../img/react.png);
    }
  }
  &__in-progress + &__in-progress,
  .skill-progress__next + .skill-progress__next {
    margin-top: 1.5rem;
  }

  &__in-progress,
  .skill-progress__next {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    transition: outline-offset 0.25s;
    outline-style: solid;
    outline-width: 0rem;
    cursor: pointer;
    border-radius: 0.3rem;
    position: relative;
    overflow: hidden;
    border: 1px solid;

    &:after {
      opacity: 0.04;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: scale(var(--learn-scale, 0.8))
        translate(var(--learn-tx, -50%), var(--learn-ty, -50%));
      filter: grayscale(1) brightness(10) contrast(1%);
    }

    h3 {
      font-size: 2.4rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &:after {
        content: "";
        width: 0.8rem;
        height: 0.8rem;
        border: 1px solid rgba($color: #2a133d, $alpha: 0.5);
        border-top: none;
        border-left: none;
        transform: rotate(45deg) translate(-50%, -50%);
        transition: transform 0.3s ease;
      }
    }

    h3,
    p {
      font-weight: 300;
      z-index: 10;
    }

    .progress {
      width: 100%;
      height: 1.5rem;
      background: rgba(#f1f1f1, 0.8);
      border-radius: 0.5rem;
      position: relative;
      box-shadow: 0 0 0.2rem rgba(#2a133d, 0.4) inset;
      z-index: 10;

      &:after {
        content: "";
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0.5rem 0 0 0.5rem;
        opacity: 0.47;
        animation: progressbar 7s ease;
      }
    }

    &.show {
      outline-offset: -0.6rem;
      outline-width: 0.15rem;
      justify-content: start;
      cursor: auto;
      border: 0;

      h3:after {
        transform: rotate(225deg) translate(0, 0);
      }

      p {
        opacity: 1;
        transform: translateX(0%);
      }
    }
  }
  &__in-progress.show {
    p {
      margin-bottom: 2rem;
    }
  }
  .skill-progress__next h3 {
    margin-bottom: 0;
  }

  .skill-progress__next.show h3 {
    margin-bottom: 0.5rem;
  }
  .skill-progress__next:after {
    --learn-scale: 0.7;
    --learn-ty: -70%;
  }

  p {
    line-height: 2.4rem;
    max-height: 0px;
    opacity: 0;
    transform: translateX(-4rem);
    transition: max-height 0.25s ease, opacity 0.3s ease, transform 0.3s ease;
  }
}

/**
**|| ---------- Who Presentation --------- ||
*/

.who {
  .now {
    margin-top: 7.5rem;
  }
  .now .container {
    min-height: 35rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem;
    margin-bottom: 10rem;

    .btn {
      margin: 0 auto;
    }
  }
  .parcours {
    .steps {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 7.5rem;

      &:after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 0.5rem;
        max-height: 100%;
        background: var(--text);
        z-index: -1;
        border-radius: 1rem;
      }
    }
    .step {
      display: flex;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      padding: 4rem;
      position: relative;
      background-position: center center;
      color: var(--text-light);
      border-radius: 1rem;
      overflow: hidden;
      border: 0rem solid var(--text);
      transition: transform 0.2s ease-in-out, border 0.5s ease;

      &:hover {
        &:after {
          outline: 0.1rem solid #f1f1f180;
          outline-offset: -1.5rem;
        }

        .step__date {
          opacity: 0;

          @include mq(medium) {
            opacity: 0.5;
          }
        }
        .step__detail {
          max-height: fit-content;
          transform: translateX(0);
          padding: 2rem;
          margin-top: 2rem;
          opacity: 1;
        }
      }

      &__detail {
        max-height: 0;
        opacity: 0;
        transform: translateX(-100%);
        overflow: hidden;
        color: var(--text);
        background: rgba(255, 255, 255, 0.35);
        border-radius: 0.5rem;
        transition: transform 0.3s ease-in-out, opacity 0.7s ease,
          padding 0.15s ease;
      }

      &__desc {
        z-index: 1;

        h3 {
          text-transform: uppercase;
          font-size: 2.5rem;
          margin-bottom: 0;
        }
      }

      &__date {
        position: absolute;
        bottom: 3rem;
        right: 4rem;
        font-size: 12rem;
        font-weight: 700;
        text-transform: uppercase;
        opacity: 0.2;
        transition: opacity 0.2s ease;

        @include mq(medium) {
          position: relative;
          font-size: 2rem;
          opacity: 0.5;
          left: unset;
          top: unset;
          right: unset;
          bottom: unset;
        }
      }

      &__location {
        font-style: italic;
        opacity: 0.8;
        font-size: 1.8rem;
      }

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: rgba(164, 79, 233, 0.75);
        z-index: 0;
        border-radius: 1rem;
        outline: 0 solid #f1f1f180;
        transition: outline 0.2s, outline-offset 0.2s;
      }

      &:nth-of-type(1) {
        background-image: url("../img/lycee.jpg");
      }
      &:nth-of-type(2) {
        background-image: url("../img/universite.jpg");
        &:after {
          background: rgba(0, 155, 158, 0.9);
        }
      }
      &:nth-of-type(3) {
        background-image: url("../img/eph.jpg");
        &:after {
          background: rgba(235, 154, 7, 0.9);
        }
      }
      &:nth-of-type(4) {
        background-image: url("../img/universite-2.jpg");
        &:after {
          background: rgba(0, 201, 130, 0.85);
        }
      }
      &:nth-of-type(5) {
        background-image: url("../img/hand.webp");
      }
      &:nth-of-type(6) {
        background-image: url("../img/iut.jpg");
        &:after {
          background: rgba(0, 155, 158, 0.9);
        }
      }
      &:nth-of-type(7) {
        background-image: url("../img/infab.jpg");
        &:after {
          background: rgba(235, 154, 7, 0.9);
        }
      }
      &:nth-of-type(8) {
        background-image: url("../img/hb.png");
        &:after {
          background: rgba(0, 201, 130, 0.85);
        }
      }
    }
    .step:nth-of-type(2n) {
      text-align: right;
      display: flex;
      flex-direction: row-reverse;

      .step__date {
        right: unset;
        left: 4rem;
        @include mq(medium) {
          position: relative;
          font-size: 2rem;
          opacity: 0.5;
          left: unset;
          top: unset;
          right: unset;
          bottom: unset;
        }
      }
    }
  }
}

.realisation {
  .projects {
    margin-top: 12rem;
    margin-bottom: 5rem;

    .container {
      padding: 0;
      background: transparent;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      gap: 5rem;
      min-height: 0;

      h2 {
        width: 100%;
        color: var(--text);
        background: #fff;
        text-align: center;
        padding: 2rem;
        border-radius: 0.5rem;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 3rem;
        margin-bottom: 4rem;
        box-shadow: 0 0 0.3rem rgba(0, 0, 0, 0.3);
      }
    }
  }

  .project {
    flex: 47%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: #fff;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);

    border-radius: 0.3rem;
    transition: box-shadow 0.25s ease-out;
    position: relative;

    .picture {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: var(--purple);
        opacity: 0.1;
        z-index: 5;
        transition: opacity 0.2s ease-in-out;
      }
    }

    a {
      border: 0.1rem solid #2a133d48;
      color: #2a133da4;
      padding: 1rem 2rem;
      border-radius: 0.3rem;
      background-image: linear-gradient(var(--purple), var(--purple));
      background-repeat: no-repeat;
      background-size: contain;
      background-origin: left top;
      background-position: -16rem -100%;
      transition: background-position 0.25s ease-in-out, border 0.2s ease;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &:nth-of-type(2) {
        &:before {
          content: url("../img/Orion_github.svg");
        }
      }

      &:before {
        content: url("../img/Orion_source-code.svg");
        width: 0;
        transition: width 0.25s ease-in-out;
      }

      &:hover {
        background-position: 0 0;
        border: 0.1rem solid #fff;
        color: var(--text-light);

        &:before {
          width: 1.5rem;
        }
      }
    }

    &:nth-of-type(2),
    &:nth-of-type(6) {
      .picture:before {
        background: var(--primary);
      }
      a {
        background-image: linear-gradient(var(--primary), var(--primary));
      }
      &:after {
        background: var(--primary);
      }
    }
    &:nth-of-type(3),
    &:nth-of-type(7) {
      .picture:before {
        background: var(--secondary);
      }
      a {
        background-image: linear-gradient(var(--secondary), var(--secondary));
      }
      &:after {
        background: var(--secondary);
      }
    }
    &:nth-of-type(4) {
      .picture:before {
        background: var(--green);
      }
      a {
        background-image: linear-gradient(var(--green), var(--green));
      }
      &:after {
        background: var(--green);
      }
    }
    &:after {
      content: "";
      top: -0.3rem;
      bottom: -0.3rem;
      left: -0.3rem;
      right: -0.3rem;
      background: var(--purple);
      position: absolute;
      z-index: -1;
      border-radius: 0.5rem;
      width: 0;
      height: 0;
      opacity: 0;
      transition: width 0.25s ease-in-out, height 0.25s ease-in-out,
        opacity 0.3s ease-in-out;
    }

    &:hover {
      box-shadow: none;

      .picture:before {
        opacity: 0;
      }

      &:after {
        width: calc(100% + 0.6rem);
        height: calc(100% + 0.6rem);
        opacity: 1;
      }
    }

    h3 {
      margin-bottom: 0;
      text-transform: uppercase;
      font-weight: 300;
      font-size: 2.5rem;
      padding: 2rem 2rem 0 2rem;
    }

    .btn-group {
      position: absolute;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 0 2rem 2rem 2rem;
      bottom: 0rem;
      left: 0rem;
    }

    p {
      padding: 0 2rem;
      margin-bottom: 8rem;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      padding-left: 2rem;

      li {
        padding: 0.5rem 1rem;
        background: var(--purple);
        color: var(--text-light);
        border-radius: 0.3rem;

        &:nth-of-type(2),
        &:nth-of-type(6) {
          background: var(--primary);
        }
        &:nth-of-type(3),
        &:nth-of-type(7) {
          background: var(--secondary);
        }
        &:nth-of-type(4) {
          background: var(--green);
        }
      }
    }
  }
}
